* {
    color: cornsilk;
}

.headlines {
    background-image: url("../images/Illustration-header.png");
    background-repeat: no-repeat;
    background-size: 60% 100%, cover;
    background-position: right 1% ;
}

.wrapper{
    height: 100vh;
}

.projects-header{
    background-image: url(../images/last-line.png);
    background-size: 65% 2%;
    background-repeat: no-repeat;  
    background-position: left 80% top 50%;
}

.badge{
    width: 22.5%;
    border-radius: 0;
    border: 1px solid black;
}

.about-me-img{
    background-image: url("../images/illustration-about\ me.svg");
    background-repeat: no-repeat;
    background-size: 50% 40%, cover;
    background-position: right -5% top 10%;
}

.diamond-shaped::before, .square-shaped::before, .circle-shaped::before{
    display: absolute;
    top: 0;
    margin-right: 2%; 
}

.diamond-shaped::before {
    content: url("../images/Rectangle-one.svg");
}

.circle-shaped::before {
    content: url("../images/Rectangle-three.svg");
}

.square-shaped::before {
    content: url("../images/Rectangle-two.svg");
}