* {
    color: cornsilk;
}
main {
    height: 100%;
    background-image: url("../images/Illustration-header.png");
    background-repeat: no-repeat;
    background-size: 60% 100%, cover;
    background-position: right 1% ;
}